* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  --bg-primary: hsla(233, 100%, 97%, 1);
  --bg-secondary: hsla(218, 17%, 62%, 1);
  --bg-title: hsla(275, 18%, 79%, 1);
  --bg-title-h2: hsla(312, 91%, 96%, 1);
  --color-title-h2: hsla(232, 17%, 35%, 1);
}
:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-primary);
}

header {
  text-align: center;
  padding-bottom: 2.9rem;

  background-color: var(--bg-secondary);

}

header svg {
  margin-block: 3.2rem;
}

header h1 {
  color: #FFFFFF;
  background-color: var(--bg-title);
  font-size: 4rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  padding-block: 8px;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

header p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;

  max-width: 32rem;
  margin: 3.2rem auto 2.2rem;

  color: #FFFFFF;
}

h1, h2 {
  font-family: 'Staatliches', cursive;
  font-weight: 400;
}

main {
  padding: 1.4rem 3.2rem 6rem;
  display: grid;
  justify-items: center;
  gap: 3.2rem;
}

main .card {
  position: relative;
  max-width: 32rem;

  animation-name: downtop;
  animation-duration: 1s;

  transition: all 400ms;
}

main .card img {
  border-radius: 2rem;
  width: 100%;
}

main .card:hover {
  transform: scale(1.1);
  opacity: .8;
}
main .card h2 {
  position: absolute;
  right: 10px;
  top: 10px;

  background-color: var(--bg-title-h2);
  color: var(--color-title-h2);

  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-inline: 2.4rem 2.3rem;
  border-radius: 2rem;

  opacity: 0;
  animation: topdown 600ms 600ms forwards;
}

main .card:nth-child(6) {
  display: none;
}
main .card:nth-child(3) {
  display: none;
}

footer {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;
  margin-block: 0 5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
footer a {
  color: #4A4E69;
  font-weight: 700;
  text-decoration: none;
}

@keyframes downtop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 720px) {
  body main {
    grid-template-areas: 'part1 part2 '
    'part4 part2 '
    'part4 part5 '
    'part3 part6'
    'part3 part6';

    justify-content: center;
    align-content: center;
  }

  body main .card:nth-child(1) {
    grid-area: part1;
  }
  body main .card:nth-child(2) {
    grid-area: part2;
  }
  body main .card:nth-child(3) {
    grid-area: part3;
  }
  body main .card:nth-child(4) {
    grid-area: part4;
  }
  body main .card:nth-child(5) {
    grid-area: part5;
  }
  body main .card:nth-child(6) {
    grid-area: part6;
  }
}

@media (min-width: 1170px) {
  .page {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 37.7rem 1fr;
    grid-template-areas: 'header main'
    'header main'
    'header footer';
  }

  body header {
    width: 37.7rem;
    grid-area: header;
    padding: 0;
  }

  body header p {
    font-size: 2rem;
    line-height: 2.4rem;
    max-width: 27.5rem;
  }

  body main {
    padding: 6.4rem 0 5rem;

    grid-area: main;
    
    grid-template-areas: 'part1 part2 part3'
    'part4 part2 part6'
    'part4 part5 part6';
    
    justify-content: center;
    align-content: center;
  }
  body main .card img {
    width: 22rem;
  }

  main .card:nth-child(6) {
    display: inherit;
  }
  main .card:nth-child(3) {
    display: inherit;
  }
  
  body footer {
    grid-area: footer;
  }
  
}